{% extends 'base.html'  %}
{% block title %}Dashboard - MediaHUB{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center 
mb-3">
    <h2>Explore Media</h2>
    <!-- search form to power search functionality -->
    <form>
        <input class="form-control me-2" type="search" 
        placeholder="Search Media..." name="q" 
        value="{{query|default:''}}"/>
        <button class="btn btn-outline-light" type="submit">
            Search</button>
    </form>
</div>
<!-- a user is not searching they want content or
 they have searched and want to see the content -->
 {% if media_assets %}
      <div class="row g-3">
            <!-- looping our media assets /to show each asset
             in a similar design [{},{}] -->
             {% for media in media_assets %}
                    <div class="col-sm-6 col-md-4 col-lg-3 ">
                        <div class="card h-100 shadow-sm">
                               <!-- media type : img.video.file -->
                                {% if media.category == 'image'%}
    <!-- media_file.url points to the cloudinary url access -->
    <img src="{{media.media_file.url}}" class="card-img-top"
    alt="{{media.title}}"/>   
                                {% elif media.category == 'video'%}
    <div class="ratio ratio-16x9">
         <video controls src="{{media.media_file.url}}"></video>
    </div>
                                 {% else %}
    <div class="p-4 text-center">
          <i class="fas fa-file fa-3x mb-3"></i>
          <p class="mb-0">{{media_title}}</p>
    </div>
                                 {% endif %}
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{media.title | truncatechars:40}}</h5>
        <p class="card-text small text-muted mb-2">
                {{media.description|truncatechars:80}}
        </p>
        <div class="mt-auto d-flex justify-content-between 
        align-items-center">
        <a href="{% url 'media_assets:media_detail' media.pk %}"
        class="btn btn-sm btn-primary">
           Open Media
        </a>
        <small class="text-muted">{{media.views_count}} Views
        </small>
        </div>
    </div>
                        </div>
                    </div>
             {% endfor %}
      </div>
      <!-- pagination -->
       <div class="mt-4 d-flex justify-content-center">
           <nav aria-label="Page Navigation"> 
              <ul class="pagination"> 
                     <!-- check if media assets fetched are
                      more than 12 for page one -->
        {% if media_assets.has_previous%}
<li class="page-item"><a class="page-link" 
href="?page={{media_assets.previous_page_number}}
{%  if query %}&q={{query}}{% endif %}">
    Previous</a></li>
        {% else %}
<li class="page-item disabled"><span>Previous</span></li>
        {% endif %}
<!-- current page highlight/number of pages highlight -->
 <li class="page-item disabled"><span class="page-link">
Page {{media_assets.number}} of {{media_assets.paginator.num_pages}}
 </span></li>
 <!-- next button -->
        {% if media_assets.has_next%}
<li class="page-item"><a class="page-link" 
href="?page={{media_assets.next_page_number}}
{%  if query %}&q={{query}}{% endif %}">
    next</a></li>
        {% else %}
<li class="page-item disabled"><span>Next</span></li>
        {% endif %}
              </ul>
           </nav>
       </div>
       <!-- else if no media assets we showcase this -->    
 {%  else  %}
 <div class="alert alert-info">
            No media found currently!! Upload one :-()
        </div>
 {% endif  %}
{% endblock %}